/* RESET */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    overflow-y: scroll;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #444;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 1em;
    font-weight: normal;
}

p {
    margin-top: 0.3em;
    margin-bottom: 1.2em;
}

ol,ul {
    margin-left: 3em;
    margin-bottom: 1em;
}
li {
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
    color: #21759b
}

a:hover {
    color: #0f3647;
}

code.highlighter-rouge {
    font-weight: bold;
    padding: 2px 4px;
    background: #f0f0f0;
}

/** Layout **/

#site {
    padding: 1.5em;
    max-width: 800px;
    margin: auto;
}

#masthead {
    margin-bottom: 1.5em;
}

/* Heading or whatever */
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.2em;
    font-weight: 600;
}

#site-tag {
    white-space: nowrap;
    margin-bottom: 1em;
}

/* Post */
.post {
    padding-bottom: 1em;
    border-bottom: 1px dotted #DDD;
    margin-bottom: 0.5em;
}

.post-title {
    font-size: 1.5em;
}

.post-date {
    color: #888;
}

.post-contents {
}

.post-footer {
    color: #888;
}

.page {
    padding-bottom: 1em;
    border-bottom: 1px dotted #DDD;
    margin-bottom: 0.5em;
}

.page-title {
    font-size: 1.5em;
}

/* Comment */
.comment {
    margin-top: 1em;
    padding: 0.5em;
    background: #f0f0f0;
    border: 1px solid #ddd;
}

.comment-author {
    font-weight: bold;
}
.comment-date {
    font-size: 0.9em;
    color: #888;
}

/* Misc */

.highlight {
    padding: 0.3em;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    overflow-x: auto;
    margin-bottom: 1em;
}

.archive-year {
    margin-top: 1em;
}

.archive-date {
    margin-left: 1em;
    color: #888;
}

/* Theme */
#title-link {
    font-size: 1em;
    color: #444444;
}

.comment-link {
    font-weight: bold;
    margin-left: 16px;
}

.stealth-link {
    color: #444;
}

.copyright {
    font-size: 0.8em;
    text-align: center;
}

/* Top Menu Module */
#top-menu {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    white-space: nowrap;
}

.top-menu-item {
    text-transform: uppercase;
    color: #444444;
    margin-right: 2em;
    vertical-align: middle;
}
.top-menu-item-icon {
    font-size: 1.5em;
    line-height: 1em;
    margin-right: 0.5em;
}
.top-menu-item:hover {
    color: #21759b
}
.top-menu-item-selected {
    color: black;
}

.rss-icon {
    color: #FF6600;
}
.github-icon {
    color: rgb(51,51,51);
}
.twitter-icon {
    color: #1F98C7;
}