/* RESET */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow-y: scroll;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #444;
}

h1 {
    margin-bottom: 0.2em;
}
h2 {
    margin-top: 1.5em;
    margin-bottom: 0em;
}

p {
    margin: 1em 0;
}

a {
    text-decoration: none;
    color: #21759b
}

a:hover {
    color: #0f3647;
}

/** Layout **/

#site {
    padding: 1.5em;
    max-width: 800px;
    margin: auto;
}

#masthead {
    margin-bottom: 1.5em;
    white-space: nowrap;
}

/* Post */
.post {
    padding-bottom: 1em;
    border-bottom: 1px dotted #DDD;
    margin-bottom: 0.5em;
}

.post-title {
    font-size: 1.5em;
}

.post-date {
}

.post-contents {
}

.page {
    padding-bottom: 1em;
    border-bottom: 1px dotted #DDD;
    margin-bottom: 0.5em;
}

.page-title {
    font-size: 1.5em;
}

.highlight {
    padding: 0.3em;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    overflow-x: auto;
}

.projects-title {
    margin-top: 2em;
}

.archive-year {
    margin-top: 1em;
}

.archive-date {
    margin-left: 1em;
    color: #888;
}

/* Theme */
#title-link {
    font-size: 1em;
    color: #444444;
}

/* Top Menu Module */
#top-menu {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.top-menu-item {
    text-transform: uppercase;
    color: #444444;
    margin-right: 2em;
}
.top-menu-item:hover {
    color: #21759b
}
.top-menu-item-selected {
    color: black;
}